<h2>Join beAble</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "James Bond" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control", placeholder: "007@hmss.gov.uk" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "********" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "********" %>
  </div>

  <div class="form-group">
    <%= f.label :city %><br />
    <%= f.select :city, User.cities, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %> (optional)<br />
    <%= f.text_area :address, autocomplete: "off", class:"form-control", placeholder: "Sky Tower" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %> (optional)<br />
    <%= f.text_field :phone, autocomplete: "off", class:"form-control", placeholder: "021 123 4567" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", type:"button", class:"btn btn-primary btn-lg" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
