<div class="col-sm-7">
	<%= form_for(@listing, url: path, method: crud_method) do |f| %>

	  <%= f.label(:title, "Title:") %>
	  <%= f.text_field :title, class: 'form-control' %><br />

	  <%= f.label(:description, "Description:") %>
	  <%= f.text_area :description, rows: "10", class: 'form-control' %><br />

	  <%= f.label(:expiration_date, "Expires:") %>
		<%= f.date_field :expiration_date, class: 'form-control' %><br />
	  <%= submit_tag "Submit", class: 'btn btn-primary' %>
	<% end %>
</div>
