<div class="m-user-profile col-sm-9 col-sm-offset-1" style="text-align: center">
	<%= image_tag @user.avatar.url(:medium), class: 'img-responsive center-block' %>
	<h3><%= @user.name %></h3>
	<p><strong><%= @user.email %></strong></p>
	<%= simple_format @user.description %>
	<p><%= @user.city %></p>
	<%= simple_format @user.address %>
	<p><%= @user.phone %></p>
	<% if current_user.id == @user.id %>
		<%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
	<% end %>
</div>