<!DOCTYPE html>
<html>
<head>
  <title>Be-Able</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <%= link_to 'Be-Able', root_path, class: 'navbar-brand'%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Listings', listings_path %>
          </li>
          <% if current_user %>
          	<li><%= link_to 'My Messages', messages_path %></li>
          	<li><%= link_to 'New listing', new_listing_path %></li>
          	<li><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></li>
          <% else %>
          	<li><%= link_to 'Sign up', new_user_registration_path %></li>
          	<li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
  </div>
</nav>
<p class="bg-danger"><%= flash[:error] if flash[:error] %></p>
<p class="bg-warning"><%= flash[:notice] if flash[:notice] %></p>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
